.xs-todo {
	margin-top: 50px;

	table {
		thead {
			tr {
				th {
					border-width: 1px;
					
					&:last-child {
						text-align: right;
					}
				}
			}
		}
		tbody {
			tr {
				td {
					&:last-child {
						text-align: right;
					}
				}
			}

			td {
				button {
					&:first-child {
						margin-right: 10px;
					}
				}
			}
		}
	}
}
